.idea/
.sync/
*__pycache__*
*.pyc
run.sh
run2.sh
run3.sh
run_validation.sh
main_training.py
run_training.sh
eval_scripts/eval_action.sh

# sum_tree_cpp
agents/ddpg_backend/sum_tree_cpp/externals
agents/ddpg_backend/sum_tree_cpp/build
agents/ddpg_backend/sum_tree_cpp/CMakeLists.txt.user
agents/ddpg_backend/sum_tree_cpp/sum_tree_cpp.cpython-37m-x86_64-linux-gnu.so