Bildschirmfoto 2020-08-07 um 12.50.19.png
.idea/
.sync/
*__pycache__*
*.pyc
Hands on machine learning.pdf
Hands-On Machine Learning with Scikit-Learn and TensorFlow.pdf
run.sh
run2.sh
run3.sh
run_validation.sh
main_training.py
run_training.sh
